# IRIS dataset
#### Mod 18.2.2: Pandas Refresher

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
import pandas as pd

In [2]:
# In local jupyter notebook
file_path = "./Resources/Data/iris.csv"
iris_df = pd.read_csv(file_path)
iris_df.head()

# On Google Colab
# iris_df = pd.read_csv('/content/drive/MyDrive/Data/iris.csv')
# iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
new_iris_df = iris_df.drop(['class'], axis=1)

new_iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [5]:
# Export the cleaned dataframe into a csv file for future analysis
output_file_path = ('./Resources/Data/new_iris_data.csv')
new_iris_df.to_csv(output_file_path, index=False)